button-group {
  button {
    border-radius: 3px;

    &:focus {
      outline: 0 !important;
      box-shadow: none !important;
    }

    &.show-divider::after {
      content: "";
      display: block;
      border: 1px solid #d2d2d2;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}
